<footer class="py-6 lg:py-12 text-center">
  <div class="text-sm">&copy;{{ .Site.LastChange.Format "2006" }} How To Code</div>
  {{ partial "social.html" . }}
</footer>

<!-- Alpine JS -->
<!-- <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script> -->

<!-- Custom JS -->
<script src="{{ .Site.BaseURL }}js/app.js"></script>

<!-- Prism JS -->
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.22.0/components/prism-core.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.22.0/plugins/autoloader/prism-autoloader.min.js" defer></script>