<!-- Pagination -->
{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<section class="flex space-x-8 justify-center text-xl pt-16 font-bold">
  
  {{ if .Paginator.HasPrev }}
    <a href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/"><span class="squiggle">&larr;</span> Newer articles</a>
  {{ end }}
  
  {{ if .Paginator.HasNext }}    
    <a href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/">Older articles <span class="squiggle">&rarr;</span></a>
  {{ end }}
</section>
{{ end }}