{{ define "main" }}
  <article class="max-w-5xl mx-auto px-3">
    <header class="mx-auto max-w-3xl text-center content">
      <h1>{{ .Params.title }}</h1>

      </div>
    </header>

    <!-- Image -->
    <img class="rounded-xl mx-auto" style="min-width: 80%;" src="{{ .Params.hero }}" alt="">

    <!-- Content -->
    <section class="max-w-3xl mx-auto py-6 lg:py-12 content">
      {{ .Content }}
    </section>

    <!-- Email Signup -->
    {{ partial "email-signup.html" . }}
  </article>


  {{ if .Params.tags }}
  <div class="blog-tags">
    {{ range .Params.tags }}
    <a
      href="{{ "" | absLangURL }}tags/{{ . | urlize }}{{ if $.Site.Params.uglyurls }}.html{{ else }}/{{ end }}">{{ . }}</a>&nbsp;
    {{ end }}
  </div>
  {{ end }}
{{ end }}