{{ define "main" }}
<article class="max-w-5xl mx-auto px-3">
  <header class="mx-auto max-w-3xl text-center content">
    <h1>{{ .Params.title }}</h1>
  </header>
  
  <!-- Tags -->
  {{ if .Params.tags }}
    <div class="blog-tags mb-8 mx-auto max-w-3xl text-center">
      {{ range .Params.tags }}
      <a
        href="{{ "" | absLangURL }}tags/{{ . | urlize }}{{ if $.Site.Params.uglyurls }}.html{{ else }}/{{ end }}">#{{ . }}</a>&nbsp;
      {{ end }}
    </div>
  {{ end }}

  <!-- Image -->
  <img class="rounded-xl mx-auto" style="min-width: 80%;" src="{{ .Params.hero }}" alt="">

  <!-- YouTube Video -->
  {{ if .Params.youtube }}
  <div class="embed-responsive aspect-ratio-16/9 mt-6 lg:mt-12">
    <iframe width="700" height="500" class="embed-responsive-item"
      src="https://www.youtube.com/embed/{{ .Params.youtube }}" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope;" allowfullscreen></iframe>
  </div>
  {{ end }}

  <!-- Content -->
  <section class="max-w-3xl mx-auto py-6 lg:py-12 content">
    {{ .Content }}
  </section>

  <!-- Email Signup -->
  {{ if ne .RelPermalink "/search/" }}
  {{ partial "email-signup.html" . }}
  {{ end }}
</article>
{{ end }}