<article class="max-w-5xl mx-auto px-3">
    <header class="mx-auto max-w-3xl text-center content">
        <h1>{{ title }}</h1>
        <div class="my-12 flex items-center justify-center">
            {{ if author }}
            <img src="{{ author:avatar ?? author:email | gravatar:160 }}" class="h-20 w-20 my-0 rounded-full">
            {{ /if }}
            <div class="text-left">
                {{ if author }}
                    <div>
                        <span class="bg-clip-text text-transparent bg-gradient-to-r from-hot-pink to-purple-500">
                            {{ author:name }}
                        </span>
                    </div>
                {{ /if }}
                <time datetime="{{ date format="Y-m-d" }}">{{ date }}</time>
            </div>
        </div>
    </header>
    
    <!-- Image -->
    <img class="rounded-xl mx-auto" style="min-width: 80%;" src="{{ hero_image }}" alt="">
    
    <!-- YouTube Video -->
    {{ if video | is_embeddable }}
        <div class="embed-responsive aspect-ratio-16/9 mt-6 lg:mt-12">
            <iframe width="700" height="500" class="embed-responsive-item" src="{{ video | embed_url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;" allowfullscreen></iframe>
        </div>
    {{ /if }}
    
    <!-- Content -->
    <section class="max-w-3xl mx-auto py-6 lg:py-12 content">
        {{ main_content }}
    </section>

    <!-- Email Signup -->
    {{ if settings:show_signup }}
        {{ partial:sign-up}}
    {{ /if }}
</article>
