<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-87340191-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-87340191-1');
        </script>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ aardvark-seo:head }}
        <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">
        {{ partial:personality }}
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
        <script src="{{ mix src='/js/site.js' }}"></script>
        <!-- Prism CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.22.0/themes/prism-tomorrow.css">
    </head>
    <body class="bg-white text-black font-body leading-normal personality-{{ settings:personality }}">
        {{ aardvark-seo:body }}
        {{ partial:nav }}
        <main class="py-12 lg:py-20">
            {{ template_content }}
        </main>
        {{ partial:footer }}
        {{ partial:extras }}
        
        <!-- Prism JS -->
        <script src="https://cdn.jsdelivr.net/npm/prismjs@1.22.0/components/prism-core.min.js" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/prismjs@1.22.0/plugins/autoloader/prism-autoloader.min.js" defer></script>
        {{ aardvark-seo:footer }}
    </body>
</html>
